<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../../assets/img/profile.png">
    </ion-avatar>
    <ion-label>CC4</ion-label>
  </ion-item>
  <ion-item lines="none" routerLink="cardsList">
    <ion-icon slot="end" name="card"></ion-icon>
    <ion-label>Payments</ion-label>
  </ion-item>
  <ion-item routerLink="profile" lines="none">
    <ion-icon slot="end" name="settings"></ion-icon>
    <ion-label>Acount Settings</ion-label>
  </ion-item>
  <ion-item routerLink="addressList">
    <ion-icon slot="end" name="globe"></ion-icon>
    <ion-label>My Addresses</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon slot="end" name="help-buoy"></ion-icon>
    <ion-label>Help</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon slot="end" name="hand"></ion-icon>
    <ion-label>Privacy Policy</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="end" name="clipboard"></ion-icon>
    <ion-label>Terms And Conditions</ion-label>
  </ion-item>
  <ion-item (click)="onLogout()">
    <ion-icon color="primary" slot="end" name="log-out"></ion-icon>
    <ion-label color="primary">Logout</ion-label>
  </ion-item>
</ion-content>