<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none" color="primary">
      <ion-title class="titlePage">List Cards</ion-title>
      <ion-icon size="large" slot="end" name="close" routerLink="../../list-address" routerDirection="backward"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-chip outline color="dark" routerLink="../../set-card">
    <ion-label>Add New Card</ion-label>
    <ion-icon color="success" name="add-circle"></ion-icon>
  </ion-chip>
  <ion-list *ngFor="let userCard of userCards">
    <ion-item-sliding #slidingList>
      <ion-item>
        <ion-label>
          <h3><b>{{userCard.cardDescription}}</b></h3>
          <p>{{userCard.cardNumber}}</p>
        </ion-label>
        <ion-avatar slot="start">
          <ion-icon size="large" name="card" color="medium"></ion-icon>
        </ion-avatar>
        <ion-chip color="dark" outline slot="end" [routerLink]="[ '../../checkout', addressId, userCard.cardId ]">
          <ion-text>Select</ion-text>
        </ion-chip>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="success" (click)="deleteUserCards(userCard.cardId)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>