<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-back-button defaultHref=""></ion-back-button>
      <ion-title>Editar la cuenta:</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="itemsInputs" lines="none">
    <ion-label position="stacked">
      <ion-icon name="person"></ion-icon> Fullname<ion-text color="primary">*</ion-text>
    </ion-label>
    <div>
      <ion-input></ion-input>
    </div>
  </ion-item>
  <ion-item class="itemsInputs" lines="none">
    <ion-label position="stacked">
      <ion-icon name="mail"></ion-icon> Email<ion-text color="primary">*</ion-text>
    </ion-label>
    <div>
      <ion-input></ion-input>
    </div>
  </ion-item>
  <ion-item class="itemsInputs" lines="none">
    <ion-label position="stacked">
      <ion-icon name="lock"></ion-icon> Password<ion-text color="primary">*</ion-text>
    </ion-label>
    <div>
      <ion-input></ion-input>
    </div>
  </ion-item>
  <ion-item class="itemsInputs" lines="none">
    <ion-label position="stacked">
      <ion-icon name="call"></ion-icon> Date Of Birth<ion-text color="primary">*</ion-text>
    </ion-label>
    <div>
      <ion-input></ion-input>
    </div>
  </ion-item>
  <ion-button class="btnSave" color="primary">Guardar</ion-button>
</ion-content>