<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title slot="start" class="welcome-title"><strong>ToGo</strong></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" animated (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content #pageContent>
  <h2 class="title">Promotions</h2>
  <ion-slides pager="true" [options]="slideOpts" class="promotions">
    <ion-slide *ngFor="let promotion of promotions">
      <ion-card class="ion-no-padding">
        <ion-card-content>
          <img
            src="http://www.pepsico.cl/images/librariesprovider40/default-album/vb3_montaje-productos-pepsico2e33c3aeef576d378be6ff5000e253d8.jpg?sfvrsn=1:large"
            alt="">
        </ion-card-content>
        <ion-card-header>
          <ion-card-title color="white">NUEVA WOW BOX </ion-card-title>
          <ion-card-subtitle color="white">Home only</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h2 class="title">Assorted Products</h2>
  <div *ngFor="let product of products | filtro:textoBuscar">
    <ion-card padding [routerLink]="[ '../product-detail', product.productId ]">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <ion-row>
                <ion-card-title>{{product.productName}}</ion-card-title>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <img src="{{product.productPictureURL}}">
      </ion-card-content>
      <ion-row class="card-footer">
        <ion-col size="4">
          <p>L {{product.price}}</p>
        </ion-col>
        <ion-col size="8">
          <p text-right>Disponible: {{product.productQuantity}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>