.my-custom-menu {
  --width: 500px;
}

.md ion-title {
  text-align: end;
}

ion-content .title {
  margin-left: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--ion-color-dark);
}

ion-toolbar {
  --padding-end: 10px;
}

ion-toolbar>ion-text {
  margin-right: 5px;
}

ion-slides.promotions ion-card {
  position: relative;
  margin: 0.75rem;
}

ion-slides.promotions ion-card ion-card-header {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 0.25rem;
  text-align: left;
}

ion-slides.promotions ion-card ion-card-header ion-card-title {
  font-size: 1rem;
  font-weight: 500;
}

ion-slides.promotions ion-card ion-card-header ion-card-subtitle {
  margin-top: 0;
  font-weight: 300;
}

ion-slides.promotions ion-card ion-card-content {
  padding: 0;
}

ion-card.card-brand {
  box-shadow: none;
}

ion-card.card-brand ion-grid {
  padding: 0;
}

ion-card.card-brand ion-card-header ion-card-title {
  font-size: 1rem;
  color: var(--ion-color-dark);
}

ion-card.card-brand ion-card-header ion-card-subtitle {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: none;
}

ion-card.card-brand ion-card-content {
  padding: 0;
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

ion-card.card-brand ion-card-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

ion-card.card-brand ion-card-header {
  padding: 0;
}

ion-card.card-brand ion-card-header .logo-brand {
  display: grid;
  align-content: center;
  width: 40px;
  height: 40px;
}

ion-card.card-brand ion-card-header .logo-brand img {
  width: 100%;
  max-width: 100%;
}

ion-card.card-brand .card-footer p {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0;
}

.ios .welcome-title {
  text-align: left;
}

.welcome-title span {
  font-weight: 300;
}