<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-item>
    <br>
      <ion-label position="floating" > Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" > Password</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
          </ion-item>
          <br>

          <ion-button (click)="onSubmitLog()" expand="block"> Login</ion-button>
          <ion-button (click)="onSubmitReg()" expand="block"> Sign Up</ion-button>
          
          <p text-center routerLink="/registration">No tengo cuenta</p>         
</ion-content>
