
<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding >
  <img class="icon" src="https://i.ibb.co/YNNGPFp/logo2222.png" alt="">
  
    <ion-item>
      <br>
        <ion-label color="dark" position="floating" > Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"  name="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="dark" position="floating" > Password</ion-label>

        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
    </ion-item>
      <br>
   
    <ion-button expand="block"  (click)="getUserByEmail()"> Login</ion-button>
    
    <ion-button class="NoCuenta" routerLink="/registration" expand="block"  color="light">Create an account</ion-button>
 
    
  
  
</ion-content>
